<h3>Sandwiches</h3>
<form @onsubmit="Form">
    <MatSelect Label="Pick a Tasty Sandwich" @bind-Value="Paninis">
        <MatOptionString Value="@Models.Sandwiches.ChickenParm">
            @Models.Sandwiches.ChickenParm $@Models.Sandwiches.Price
        </MatOptionString>
        <MatOptionString Value="@Models.Sandwiches.BuffaloChicken">
            @Models.Sandwiches.BuffaloChicken $@Models.Sandwiches.Price
        </MatOptionString>
        <MatOptionString Value="@Models.Sandwiches.PhillyCheeseSteak">
            @Models.Sandwiches.PhillyCheeseSteak $@Models.Sandwiches.Price
        </MatOptionString>
        <MatOptionString Value="@Models.Sandwiches.MediterraneanVeggie">
            @Models.Sandwiches.MediterraneanVeggie $@Models.Sandwiches.Price
        </MatOptionString>
    </MatSelect>
    <div>
        <h6>Our sandwich creations will have you saying "wow! A sandwich!"</h6>
    </div>
    <MatButton Raised="true" Type="submit" Disabled="DisableAddToCart()">Add To Cart</MatButton>
</form>

@code {

}
